    /*
    Flaticon icon font: Flaticon
    Creation date: 03/07/2018 12:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-dollar-coin-stack:before { content: "\f100"; }
.flaticon-mechanic-tools:before { content: "\f101"; }
.flaticon-engine:before { content: "\f102"; }
.flaticon-wall-clock:before { content: "\f103"; }
.flaticon-domain:before { content: "\f104"; }
.flaticon-car-breakdown:before { content: "\f105"; }
.flaticon-chiptunning:before { content: "\f106"; }
.flaticon-oil:before { content: "\f107"; }
.flaticon-car-with-wrench:before { content: "\f108"; }
    
    $font-Flaticon-dollar-coin-stack: "\f100";
    $font-Flaticon-mechanic-tools: "\f101";
    $font-Flaticon-engine: "\f102";
    $font-Flaticon-wall-clock: "\f103";
    $font-Flaticon-domain: "\f104";
    $font-Flaticon-car-breakdown: "\f105";
    $font-Flaticon-chiptunning: "\f106";
    $font-Flaticon-oil: "\f107";
    $font-Flaticon-car-with-wrench: "\f108";