	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/07/2018 12:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 25px;
font-style: normal;
}

.flaticon-dollar-coin-stack:before { content: "\f100"; }
.flaticon-mechanic-tools:before { content: "\f101"; }
.flaticon-engine:before { content: "\f102"; }
.flaticon-wall-clock:before { content: "\f103"; }
.flaticon-domain:before { content: "\f104"; }
.flaticon-car-breakdown:before { content: "\f105"; }
.flaticon-chiptunning:before { content: "\f106"; }
.flaticon-oil:before { content: "\f107"; }
.flaticon-car-with-wrench:before { content: "\f108"; }