<div id="navigation">
		<div class="container-fluid">
			<a href="index.php?link=pocetna" id="brand">AUTOMEHANIČARSKA RADNJA</a>
			<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
				<i class="fa fa-bars"></i>
			</a>
			<ul class='main-nav'>
				<li><a href="index.php?link=pocetna"><span>Početna</span></a></li>
				<li><a href="index.php?link=korisnici"><span>Korisnici</span></a></li>
				<li><a href="index.php?link=usluge"><span>Usluge</span></a></li>
				<li><a href="index.php?link=status"><span>Status</span></a></li>
				<li><a href="index.php?link=prijave"><span>Prijave</span></a></li>
			</ul>
			<div class="user">
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">Dobrodošli!
						<img src="img/user.jpg" alt="">
					</a>
					<ul class="dropdown-menu pull-right">		
						<li>
							<a href="logout.php">Odjavi se</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	