

@media only screen and (max-width: 459px) { 
.our-services {
        padding: 40px 0 115px;
    }
.hexagon:last-child {
        margin-left: 0;
        top: 62px;
    }
.pricingTable .title{
    padding: 35px 15px;
    margin: 0;
    font-size: 13px;
    position: relative;
    top: 10px;
    right: 5px;
	}
}

@media only screen and (min-width: 460px) and (max-width: 767px) { 

.pricingTable .title{
    padding: 35px 15px;
    margin: 0;
    font-size: 13px;
    position: relative;
    top: 10px;
    right: 5px;
}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.top-header-area {
        display: none;
    }
.top-header-area ul {
        margin-top: 15px;
    }

.content-block-area {
        padding: 40px 0;
    }
.section-title h2 {
        font-size: 25px;
    }
.boxed-item {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        padding: 40px 20px;
    }
.appointment-boxed-image {
        display: none;
    }
.appointment-form label {
        font-size: 17px;
    }
	
.status-boxed-image {
        display: none;
    }
.status-form label {
        font-size: 17px;
    }
	
.signup-form .form-group-captcha {
      
    }
	
.footer-copyright-area {
        text-align: center;
    }
.footer-copyright-area .text-right {
        text-align: center;
    }

.homepage-slider h1 {
        font-size: 25px;
        line-height: 32px;
    }
.homepage-slider p {
        font-size: 18px;
    }
.signup-form {
        max-width: 390px;
        padding: 0 15px;
        width: 100%;
    }
.signup-form form {
        padding: 15px;
    }
.signup-form h2 {
        font-size: 25px;
        margin: 10px 0 15px;
    }






	
	.pricingTable .title{
    padding: 35px 15px;
    margin: 0;
    font-size: 13px;
    position: relative;
    top: 10px;
    right: 5px;
}
	
.pricingTable .pricingTable-header{
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.pricingTable .pricingTable-header:before{
    content: "";
    width: 100%;
    height: 150%;
    background: #606aa3;
    position: absolute;
    top: -90%;
    left: -20%;
    z-index: -1;
    transform: rotate(-42deg);
}
.pricingTable .pricingTable-header:after{
    content: "";
    width: 100%;
    height: 190%;
    background: #727cb6;
    position: absolute;
    top: -76%;
    right: -16%;
    z-index: -2;
    transform: rotate(20deg);
}

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.top-header-area {
    display: none;
    text-align: center;
    padding: 20px 0;
}
.top-header-area ul li {
	border: 1px solid #dedede;
	margin: 0 5px;
    }   
.content-block-area {
	padding: 60px 0;
    }
.apointment-boxed-bg .appointment-boxed-image {
    display: none;
    }
.signup-form {
    margin: 0 auto;
    }
.contact-us .media .media-body h4 {
        font-size: 13px;
    }
.pricingTable .title{
    padding: 35px 15px;
    margin: 0;
    font-size: 13px;
    position: relative;
    top: 10px;
    right: 5px;
}
.boxed-item {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 10px;
	height:300px;
}

}

/* medium Devices, Tablets and tablet portrait screen */
@media (max-width: 991px) {
    .main-menu-area {
        background-color: #00299b;
    }
    .main-menu-area .navbar-default {
        z-index: 999;
        position: absolute;
        right: 0;
        top: -52px;
        width: 100%;
    }
    .main-menu-area .logo::before {
        background: transparent;
        transform: skewX(0deg);
        -webkit-transform: skewX(0deg);
    }
    .main-menu-area {
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        left: 0;
        right: 0;
    }
    .main-menu-area .logo {
        padding: 10px 0 8px;
    }
    .main-menu-area .logo a img {
        width: 150px;
    }
    .main-menu-area .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .main-menu-area .navbar-default .navbar-toggle:focus, 
    .main-menu-area .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }
    .main-menu-area .navbar-default .navbar-header {
        float: none;
    }
    .main-menu-area .navbar-default .navbar-left,.navbar-right {
        float: none !important;
    }
    .main-menu-area .navbar-default .navbar-toggle {
        display: block;
    }
    .main-menu-area .navbar-default .navbar-collapse {
        background-color: #fff;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .main-menu-area .navbar-default .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .main-menu-area .navbar-default .navbar-collapse.collapse {
        display: none!important;
    }
    .main-menu-area .navbar-default .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.main-menu-area .navbar-default .navbar-nav > li {
        float: none;
    }
    .main-menu-area .navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-menu-area .navbar-default .collapse.in {
  		display:block !important;
	}
    
	
.pricingTable .title{
	padding: 35px 15px;
    margin: 0;
    font-size: 13px;
    position: relative;
    top: 10px;
    right: 5px;
}
}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main-menu ul li a {
      font-size: 11px;
      padding: 30px 4px;
    }
    .top-header-area ul li a {
        font-size: 11px;
    }
	
.main-menu ul li.status-page a {
    font-size: 11px;
}		
.main-menu ul li.login a {
    font-size: 11px;
}

.main-menu ul li.login a span{ 
	font-size: 11px;
}
    .content-block-area {
        padding: 70px 0;
    }
    .appointment-boxed-bg .appointment-boxed-image {
        background-size: 100% 100%;
        height: 728px;
    }
	.status-boxed-bg .status-boxed-image {
        background-size: 100% 100%;
        height: 428px;
    }
.boxed-item {
	height:300px;
}
.signup-form {
        margin: auto;
    }
.signin-form {
        padding: 36px 0;
    }

    .main-menu-area .logo {
        padding: 15px 0 15px;
    }
    .main-menu-area .logo a img {
        width: 175px;
    }
	
		.pricingTable .title{
    font-size: 13px;

}
}





